@model IEnumerable<JIWebPictureDemo.Models.Student>

@{
    ViewBag.Title = "StudentList";
}

<h2>Student List</h2>

<p>
    @Html.ActionLink("Create New", "Index")
</p>
<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr class="success">
            <th>
                <b>Student Id</b>
            </th>
            <th>
                <b>Full Name</b>
            </th>
            <th>
                <b>Email</b>
            </th>
            <th>
                <b>Mobile</b>
            </th>
            <th></th>
        </tr>
    </thead>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mobile)
        </td>
    </tr>
}

</table>
