@model IEnumerable<JIWebPictureDemo.Models.Student>

@{
    ViewBag.Title = "StudentList";
}

<h2>Student List</h2>

<p>
    @Html.ActionLink("Create New", "Index")
</p>
<table class="table table-striped table-hover">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.PhotoSource)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobile)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.PhotoSource)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mobile)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StudentId }) |
        </td>
    </tr>
}

</table>
